<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>ブログ一覧</title>
    <link rel="stylesheet" th:href="@{/css/admin_blog_list.css}">
</head>

<body>
    <div class="container">
        <header>
            <nav>
                <ul>
                    <li><a href="http://127.0.0.1:5500/admin_profile.html">個人資料</a></li>
                    <li><a th:href="@{login.htmls}">ログアウト</a></li>
                </ul>
            </nav>
        </header>
        <h1>ブログ一覧</h1>
        <div class="blog-list">
            <ul class="blogs">
                <li th:each="blog : ${blogPostsList}">
                    <a th:href="@{/blog/edit/{blogId}(blogId=${blog.blogId})}">
                        <img th:src="@{/blog-img/{imagePath}(imagePath=${blog.imagePath})}" alt="">
                        <p th:text="${blog.title}"></p>
                        <p th:text="${blog.summary}"></p>
                    </a>
                </li>
            </ul>
        </div>
        <footer>CopyLight<small>&copy;WangShenghui's blog</small></footer>
    </div>
</body>

</html>
