<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>管理者登録</title>
	<!-- CSSファイルのリンク -->
	<link rel="stylesheet" th:href="@{/css/admin_register.css}">
</head>

<body>
	<div class="container">
		<h1>管理者登録</h1>
		<!-- 管理者登録フォーム -->
		<form th:action="@{/admin/register/process}" method="post">
			<!-- ユーザー名入力フィールド -->
			<div class="form-group">
				<label for="username">ユーザー名:</label>
				<input type="text" id="username" name="username" placeholder="ユーザー名を入力してください。" required>
			</div>
			<!-- パスワード入力フィールド -->
			<div class="form-group">
				<label for="password">パスワード:</label>
				<input type="password" id="password" name="password" placeholder="パスワードを入力してください。" required>
			</div>
			<!-- メールアドレス入力フィールド -->
			<div class="form-group">
				<label for="email">メールアドレス:</label>
				<input type="email" id="email" name="email" placeholder="メールアドレスを入力してください。" required>
			</div>
			<!-- 登録ボタン -->
			<button type="submit">登録</button>
			<!-- ログインリンク -->
			<p>ログインは<span style="color: rgb(66, 38, 149)"><strong><a href="/admin/login">こちら</a></strong></span></p>
		</form>
		<footer>CopyLight<small>&copy;WangShenghui's blog</small></footer>
	</div>
</body>

</html>