<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>ブログ登録</title>
	<link rel="stylesheet" href="/css/admin_blog_register.css">
</head>

<body>
	<div class="container">
		<header>
			<nav>
				<ul>
					<li><a href="http://127.0.0.1:5500/admin_profile.html">個人資料</a></li>
					<li><a href="http://127.0.0.1:5500/admin_blog_list.html">ブログ一覧</a></li>
					<li><a href="http://127.0.0.1:5500/login.html">ログアウト</a></li>
				</ul>
			</nav>
		</header>
		<h1>ブログ登録</h1>
		<form action="/edit-blog" method="post">
			<div class="form-group">
				<label for="title">タイトル:</label>
				<input type="text" id="title" name="title" placeholder="タイトルを入力してください。" required>
			</div>
			<div>
				<label for="time">日付:</label>
				<input type="date" id="time" name="time" required>
			</div>

			<div class="form-group">
				<label for="content">本文:</label>
				<textarea id="content" name="content" rows="10" placeholder="内容を書いてください。" required></textarea>
			</div>
			<div class="form-group">
				<label for="image">画像、音声、ビデオアップロード:</label>
				<input type="file" id="image" name="image">
			</div>
			<div>
				<button>登録</button>
				<button>戻る</button>
			</div>

		</form>
		<footer>CopyLight<small>&copy;WangShenghui's blog</small></footer>
	</div>
</body>

</html>