<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>ブログ表示</title>
	<link rel="stylesheet" th:href="@{/css/blog_view.css}">
</head>

<body>
	<div class="container">
		<header>
			<nav>
				<ul>
					<li><a th:href="@{/admin/blog_list}">ブログ一覧</a></li>
					<li><a th:href="@{/admin/logout}">ログアウト</a></li>
				</ul>
			</nav>
		</header>
		<h1 th:text="${blogPost.title}">ブログタイトル</h1>
		<p th:text="${blogPost.content}">ブログ内容</p>
		<p>読者数: <span th:text="${blogPost.readerCount}">0</span></p>
		<img th:src="@{'/blog-images/' + ${blogPost.imagePath}}" alt="Blog Image">
		<a th:href="@{/blog/edit/{blogId}(blogId=${blogPost.postId})}">
			<button>編集</button>
		</a>
		<form th:action="@{/blog/delete/{blogId}(blogId=${blogPost.postId})}" method="post" onsubmit="return confirm('本当に削除しますか？');">
		    <button type="submit">削除</button>
		</form>
		<footer>CopyLight<small>&copy;WangShenghui's blog</small></footer>
	</div>
</body>

</html>