body {
    font-family: Arial, sans-serif;
    background-image: url('images/blog_view.jpg');
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.container {
    width: 80%;
    max-width: 600px;
    padding: 10px;
    background-color: #ffffff49;
    box-shadow: 0 0 10px rgb(245, 245, 245);
    border-radius: 8px;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    line-height: 0.8;
}

hr {
    margin: 10px 0;
}

.comments {
    margin-bottom: 10px;
}

.comment {
    padding: 5px;
    background-color: #fafafa50;
    border: 1px solid #ffffff;
    border-radius: 4px;
    margin-bottom: 5px;
}

.form-group {
    margin-bottom: 5px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 4px;
    margin-bottom: 5px;
    border: 1px solid #cccccc;
    border-radius: 2px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button {
    width: 100%;
    padding: 5px;
    background-color: #5ca6b890;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #2e517c;
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
}
nav ul li a {
    text-decoration: none;
    color: #000;
}
